<div class="geronimo-file-info">
  <div class="geronimo-file-info-header">
    <h1>
      <% if type = file.type %>
        <img src="/images/filetype/<%= type %>-22x22.png">
      <% end %>
      <%= file.repository_file.relative_path %>
    </h1>
  </div>
  <% if commit = file.repository_file.last_commit %>
    <div>
      <h2>Last Commit</h3>
      <%= erb :commit_short, locals: {commit: file.repository_file.last_commit} %>
    </div>
  <% end %>
  <% if (authors = file.repository_file.author_info[:most_commits]) && !authors.empty? %>
    <div>
      <h2>Most Commits</h3>
        <% authors[0..5].each do |a| %>
          <img src="<%= gravatar_url(a[:author])%>" alt="<%= h(a[:author].name) %>" width=50 height=50>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if (related = file.repository_file.related_files) && !related.empty? %>
    <div class="file-list">
      <h2>Related Files</h2>
      <ul>
      <% related[0..3].each do |h| %>
        <li class="file-list"><a href="#/open_file/<%= h[:filename] %>"><%= h[:filename] %></a></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
