<html>
  <head>
    <title>Geronimo Information for <%= @file.filename %></title>
  </head>
  <body>
    <h1><%= @file.relative_path %></h1>
    <div>
      <h3>Last Commit</h3>
      <%= erb :commit_short, locals: {commit: @file.last_commit} %>
    </div>
    <div>
      <h3>Most Commits</h3>
        <ul>
        <% @file.author_info[:most_commits][0..2].each do |h| %>
          <li><%= h[:author].name %> <%= h("<" + h[:author].email + ">") %> (<%= h[:count] %> commits)</li>
        <% end %>
        <% if @file.author_info[:most_commits].size > 2 %>
          <li><a href="/most_commits">more...</a></li>
        <% end %>
      </ul>
    </div>
      <div>
        <h2>Related Files</h2>
        <ul>
        <% @file.related_files[0..5].each do |h| %>
          <li><%= h[:filename] %> <%= h[:count] %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
